:root{
    --colorwhite: rgb(255, 255, 255);
    --colorblack: rgb(0, 0, 0);
}

body{
    font-family: 'Roboto', Arial;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s ease, color 0.5s ease
}

.global{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

#principal{
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-timing-function: ease;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.reviews{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px  20px;
}

.review{
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 20px;
    margin: 10px;
    gap: 15px;
    transition: background-color 0.5s, transform 0.5s;
}

.agentes{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
}