:root{
    --colorwhite: rgb(255, 255, 255);
    --colorblack: rgb(0, 0, 0);
}

body{
    font-family: 'Roboto', Arial;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s ease, color 0.5s ease
}

.global{
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

#principal{
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-timing-function: ease;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.reviews{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px  20px;
}

.review{
    display: flex;
    align-items: center;
    border-radius: 30px;
    padding: 20px;
    margin: 10px;
    gap: 15px;
}

.card{
    transition: box-shadow 0.5s;
}

.card:hover{
    box-shadow: 0 8px 20px rgba(197, 133, 69, 0.548);
}

.agentes{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
}

.color-change-2x {
	animation: color-change-2x 2s linear infinite alternate both;
}

@keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}


.rotate-scale-up {
	animation: rotate-scale-up 1s linear both;
}

@keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}

.shadow-pop-tr {
	animation: shadow-pop-tr 0.8s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@keyframes shadow-pop-tr {
  0% {
    box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    transform: translateX(0) translateY(0);
  }
  100% {
    box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    transform: translateX(-8px) translateY(8px);
  }
}
